name: Generate Datas

on:
  schedule: # execute every 12 hours
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - uses: actions/checkout@v3

      # Generate Snake SVG
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: akshsrin
          outputs: |
            dist/github-contribution-grid-snake.svg

      # Push to output branch
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
          personal_token: ${{ secrets.GH_PAT }}
